body {
  font-family: Arial, sans-serif;
  background-color: #f0f2f5;
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 1200px;
  margin: auto;
  background-color: darkred;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  padding: 20px;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  background-color: darkred;
  padding: 20px;
  color: white;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  padding: 15px;
  width: 250px;
  transition: transform 0.2s;
}

.card-image {
  width: 100%;
  height: 300px;
  border-radius: 10px;
  margin-bottom: 10px;
  object-fit: cover;
  object-position: top;

}

.card h3 {
  margin: 5px 0;
}

.card p {
  margin: 3px 0;
  font-size: 0.9rem;
}